transformers
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pynvml
pandas
accelerate
peft
ninja
librosa
diffusers
omegaconf
opencv-python
av
wandb
wandb[media]
lpips
python_speech_features
scenedetect
decord
kornia
insightface
onnxruntime